/* ---- Gebo Admin brown theme ---- */

.navbar-inner {
    background: #9b6e3b;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #76542d !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
span.dynatree-active a {
    background: #b47f44 !important;
}

.table thead th {background-color:#f8f3ee !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#eee2d6 !important}