/* ---- Gebo Admin dark theme ---- */

.navbar-inner {
    background: #45484d;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #555 !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
span.dynatree-active a {
    background: #5c778a !important;
}

.table thead th {background-color:#f0f3f5 !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#dce3e7 !important}