/*********************************************/
/*                DIALOGS STYLES             */
/*********************************************/

/* common dialogs class */
.std42-dialog {
	padding:0;
	position:absolute;
	left:auto;
	right:auto;
}

/* titlebar */
.std42-dialog .ui-dialog-titlebar {
	border-left:0 solid transparent;
	border-top:0 solid transparent;
	border-right:0 solid transparent;
	-moz-border-radius-bottomleft: 0; 
	-webkit-border-bottom-left-radius: 0; 
	border-bottom-left-radius: 0; 
	-moz-border-radius-bottomright: 0; 
	-webkit-border-bottom-right-radius: 0; 
	border-bottom-right-radius: 0;
	font-weight:normal;
	padding:.2em 1em;
}

.std42-dialog .ui-dialog-titlebar-close,
.std42-dialog .ui-dialog-titlebar-close:hover { padding:1px; }

.elfinder-rtl .elfinder-dialog .ui-dialog-titlebar { text-align:right; }
.elfinder-rtl .elfinder-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close { right:auto; left:.3em; }

/* content */
.std42-dialog .ui-dialog-content {
	padding:.3em .5em;
}

/* buttons */
.std42-dialog .ui-dialog-buttonpane {
	border:0 solid;
	margin:0;
	padding:.5em .7em;
}

.std42-dialog .ui-dialog-buttonpane button { margin:0 0 0 .4em;	padding:0; outline:0px solid; }
.std42-dialog .ui-dialog-buttonpane button span { padding:2px 9px; }

.elfinder-dialog .ui-resizable-e, 
.elfinder-dialog .ui-resizable-s { width:0; height:0;}

.std42-dialog .ui-button input { cursor: pointer;}

/* error/notify/confirm dialogs icon */
.elfinder-dialog-icon {
	position:absolute;
	width:32px;
	height:32px;
	left:12px;
	top:50%;
	margin-top:-15px;
	background:url("../img/dialogs.png") 0 0 no-repeat;
}

.elfinder-rtl .elfinder-dialog-icon { left:auto; right:12px;}



/*********************** ERROR DIALOG **************************/

.elfinder-dialog-error .ui-dialog-content,
.elfinder-dialog-confirm .ui-dialog-content { padding-left: 56px; min-height:35px; }

.elfinder-rtl .elfinder-dialog-error .ui-dialog-content,
.elfinder-rtl .elfinder-dialog-confirm .ui-dialog-content { padding-left:0; padding-right: 56px; }

/*********************** NOTIFY DIALOG **************************/

.elfinder-dialog-notify .ui-dialog-titlebar-close { display:none; }
.elfinder-dialog-notify .ui-dialog-content { padding:0; }

/* one notification container */
.elfinder-notify {
	border-bottom:1px solid #ccc;
	position:relative;
	padding:.5em;
	
	text-align:center;
	overflow:hidden;
}

.elfinder-ltr .elfinder-notify { padding-left:30px; }
.elfinder-rtl .elfinder-notify { padding-right:30px; }

.elfinder-notify:last-child { border:0 solid; }

/* progressbar */
.elfinder-notify-progressbar {
	width:180px;
	height:8px;
	border:1px solid #aaa;
	background:#f5f5f5;
	margin:5px auto;
	overflow:hidden;
}

.elfinder-notify-progress {
	width:100%;
	height:8px;
	background:url(../img/progress.gif) center center repeat-x;
}

.elfinder-notify-progressbar, .elfinder-notify-progress {
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
	border-radius: 0px;
}

/* icons */
.elfinder-dialog-icon-open, 
.elfinder-dialog-icon-file        { background-position: 0 -225px; }
.elfinder-dialog-icon-reload      { background-position: 0 -225px; }
.elfinder-dialog-icon-mkdir       { background-position: 0 -64px; }
.elfinder-dialog-icon-mkfile      { background-position: 0 -96px; }
.elfinder-dialog-icon-copy,
.elfinder-dialog-icon-prepare,
.elfinder-dialog-icon-move        { background-position: 0 -128px;}
.elfinder-dialog-icon-upload      { background-position: 0 -160px; }
.elfinder-dialog-icon-rm          { background-position: 0 -192px; }
.elfinder-dialog-icon-download    { background-position: 0 -260px; }
.elfinder-dialog-icon-save        { background-position: 0 -295px; }
.elfinder-dialog-icon-rename      { background-position: 0 -330px; }
.elfinder-dialog-icon-archive,
.elfinder-dialog-icon-extract     { background-position: 0 -365px; }
.elfinder-dialog-icon-search      { background-position: 0 -402px; }
.elfinder-dialog-icon-resize,
.elfinder-dialog-icon-loadimg,
.elfinder-dialog-icon-netmount,
.elfinder-dialog-icon-netunmount,
.elfinder-dialog-icon-dim         { background-position: 0 -434px; }

/*********************** CONFIRM DIALOG **************************/

.elfinder-dialog-confirm-applyall {	padding-top:3px; }

.elfinder-dialog-confirm .elfinder-dialog-icon { background-position:0 -32px; }



/*********************** FILE INFO DIALOG **************************/


.elfinder-info-title .elfinder-cwd-icon {
	float:left;
	width:48px;
	height:48px;
	margin-right:1em;
}

.elfinder-info-title strong { display:block; padding:.3em 0 .5em 0; }

.elfinder-info-tb {
	min-width:200px;
	border:0 solid;
	margin:1em .2em 1em .2em;
}

.elfinder-info-tb td { white-space:nowrap; padding:2px; }

.elfinder-info-tb tr td:first-child { text-align:right;  }

.elfinder-info-tb span { float:left;}
.elfinder-info-tb a { outline: none; text-decoration:underline; }
.elfinder-info-tb a:hover { text-decoration:none; }
.elfinder-info-spinner { 
	width:14px;
	height:14px;
	float:left;
	background: url("../img/spinner-mini.gif") center center no-repeat;
	margin:0 5px; 
}

.elfinder-netmount-tb { margin:0 auto; }
.elfinder-netmount-tb input { border:1px solid #ccc; }
/*********************** UPLOAD DIALOG **************************/

.elfinder-upload-dropbox {
	text-align:center;
	padding:2em 0;
	border:3px dashed #aaa;
}

.elfinder-upload-dropbox.ui-state-hover {
	background:#dfdfdf;
	border:3px dashed #555;
}

.elfinder-upload-dialog-or {
	margin:.3em 0;
	text-align:center;
}

.elfinder-upload-dialog-wrapper { text-align:center; }

.elfinder-upload-dialog-wrapper .ui-button { position:relative;	overflow:hidden; }

.elfinder-upload-dialog-wrapper .ui-button form {
	position:absolute;
	right:0;
	top:0;
	opacity: 0; filter:Alpha(Opacity=0);
}

.elfinder-upload-dialog-wrapper .ui-button form input {
	padding:0 20px;
	font-size:3em;

}


/* dialog for elFinder itself */
.dialogelfinder .dialogelfinder-drag {
	border-left:0 solid;
	border-top:0 solid;
	border-right:0 solid;
	font-weight:normal;
	padding:2px 12px;
	cursor:move;
	position:relative;
	text-align:left;
}

.elfinder-rtl .dialogelfinder-drag { text-align:right;}

.dialogelfinder-drag-close {
	position: absolute;
	top:50%;
	margin-top:-8px;
}

.elfinder-ltr .dialogelfinder-drag-close { right:12px; }
.elfinder-rtl .dialogelfinder-drag-close { left:12px; }


