/* ---- Gebo Admin eastern blue theme ---- */

.navbar-inner {
    background: #37b0c9;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #0f7a90 !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
span.dynatree-active a {
    background: #1294af !important;
}

.table thead th {background-color:#eaf5f8 !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d1e9f0 !important}