.elfinder-contextmenu .elfinder-contextmenu-item span { font-size:.9em; }

.elfinder-cwd-view-icons .elfinder-cwd-filename { font-size:.9em; }
.elfinder-cwd-view-list td { font-size:.9em; }

.std42-dialog .ui-dialog-titlebar { font-size:.9em; }
.std42-dialog .ui-dialog-content { font-size:.9em; }
.std42-dialog .ui-dialog-buttonpane { font-size:.9em; }
.elfinder-info-tb { font-size:.9em; }
.elfinder-upload-dropbox { font-size:1.2em; }
.elfinder-upload-dialog-or { font-size:1.2em; }
.dialogelfinder .dialogelfinder-drag { font-size:.9em; }
.elfinder .elfinder-navbar { font-size:.9em; }
.elfinder-place-drag .elfinder-navbar-dir { font-size:.9em;}
.elfinder-quicklook-title { font-size:.9em; }
.elfinder-quicklook-info-data { font-size:.9em; }
.elfinder-quicklook-preview-text-wrapper { font-size:.9em; }
.elfinder-button-menu-item { font-size:.9em; }
.elfinder-button-search input { font-size:.8em; }
.elfinder-statusbar div { font-size:.9em; }
.elfinder-drag-num { font-size:12px; }

