/* ---- Gebo Admin green theme ---- */

.navbar-inner {
    background: #83994c;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #58692b !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
span.dynatree-active a {
    background: #6c8135 !important;
}

.table thead th {background-color:#eff7ec !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#dbedd4 !important}