@CHARSET "UTF-8";
label.error{
    color: #d43f3a;
}
ul.parsley-errors-list{
    list-style: none;
    padding: .2em 0 0;
    margin: 0;
    text-indent: 0;
    color: #d43f3a;
}

ul.parsley-errors-list li{
    padding: 0;
    margin: 0;
    text-indent: 0;
}

.spacer-h-50, .spacer-h-100{
    display: block;
    width: 100%;
    height: 50px;
    clear:both;
}

.spacer-h-100{
    height: 100px;
}

h1.title{
    margin: 1em 0;
}

.alertify{
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 0px;
    box-shadow: 0px 10px 6px -6px #777777;
}

.clear-100{
    width: 100%;
    height: 100px;
    display: block;
}

.top-50{
    margin-top:50px;
}
.top-100{
    margin-top:100px;
}