/*********************************************/
/*              NAVIGATION PANEL             */
/*********************************************/

/* container */
.elfinder .elfinder-navbar {
	width:230px;
	padding:3px 5px;
	background-image:none;
	border-top:0 solid;
	border-bottom:0 solid;
	overflow:auto;
	display:none;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
/*	border:1px solid #111;*/
}


/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar { float:left;  border-left:0 solid; }
.elfinder-rtl .elfinder-navbar { float:right; border-right:0 solid; }
.elfinder-ltr .ui-resizable-e { margin-left:10px; }

/* folders tree container */
.elfinder-tree { display:table; width:100%; margin: 0 0 .5em 0; }

/* one folder wrapper */
.elfinder-navbar-wrapper, .elfinder-place-wrapper { }

/* folder */
.elfinder-navbar-dir { 
	position:relative; 
	display:block; 
	white-space:nowrap;
	padding:3px 12px;
	margin: 0;
	outline:0px solid;
	border:1px solid transparent;
	cursor:default;
	
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-dir { padding-left:35px; }
.elfinder-rtl .elfinder-navbar-dir { padding-right:35px; }

/* arrow before icon */
.elfinder-navbar-arrow {
	width:12px;
	height:14px;
	position:absolute;
	display:none;
	top:50%;
	margin-top:-8px;
	background-image:url("../img/arrows-normal.png");
	background-repeat:no-repeat;
/*	border:1px solid #111;*/
}

.ui-state-active .elfinder-navbar-arrow { background-image:url("../img/arrows-active.png"); }

/* collapsed/expanded arrow view */
.elfinder-navbar-collapsed .elfinder-navbar-arrow { display:block; }

/* arrow ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-collapsed .elfinder-navbar-arrow { background-position: 0 4px; left:0; }
.elfinder-rtl .elfinder-navbar-collapsed .elfinder-navbar-arrow { background-position: 0 -10px; right:0;  }
.elfinder-ltr .elfinder-navbar-expanded  .elfinder-navbar-arrow,
.elfinder-rtl .elfinder-navbar-expanded  .elfinder-navbar-arrow { background-position:0 -21px; }


/* folder icon */
.elfinder-navbar-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url("../img/toolbar.png");
	background-repeat:no-repeat;
	background-position:0 -16px;
}

.elfinder-navbar-icon-rm {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url("../img/toolbar.png");
	background-repeat:no-repeat;
	background-position:0 -224px;
	margin-left: -23px;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-icon { left:14px; }
.elfinder-rtl .elfinder-navbar-icon { right:14px; }

/* root folder */
.elfinder-tree   .elfinder-navbar-root .elfinder-navbar-icon { background-position:0 0; }
.elfinder-places .elfinder-navbar-root .elfinder-navbar-icon { background-position:0 -48px; }

/* icon in active/hove/dropactive state */
.ui-state-active           .elfinder-navbar-icon, 
.elfinder-droppable-active .elfinder-navbar-icon, 
.ui-state-hover            .elfinder-navbar-icon { background-position:0 -32px; }

/* subdirs tree */
.elfinder-navbar-subtree { display:none; }

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-subtree { margin-left:12px; }
.elfinder-rtl .elfinder-navbar-subtree { margin-right:12px; }


/* spinner */
.elfinder-navbar-spinner { 
	width:14px;
	height:14px;
	position:absolute;
	display:block;
	top:50%;
	margin-top:-7px;
	background: url("../img/spinner-mini.gif") center center no-repeat;
}
/* spinner ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-spinner { left:0;  margin-left:-2px; }
.elfinder-rtl .elfinder-navbar-spinner { right:0; margin-right:-2px; }

/* permissions marker */
.elfinder-navbar .elfinder-perms { top:50%; margin-top:-8px; }

/* permissions/symlink markers ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar .elfinder-perms   { left:  18px; }
.elfinder-rtl .elfinder-navbar .elfinder-perms   { right: 18px; }
.elfinder-ltr .elfinder-navbar .elfinder-symlink { left:  8px; }
.elfinder-rtl .elfinder-navbar .elfinder-symlink { right: 8px; }

/* resizable */
.elfinder-navbar .ui-resizable-handle { width:12px; background:transparent url('../img/resize.png') center center no-repeat; left:0; }
.elfinder-nav-handle-icon {
	position:absolute;
	top:50%;
	margin:-8px 2px 0 2px;
	opacity: .5; filter:Alpha(Opacity=50);
}

.elfinder-places { border:1px solid transparent;}
.elfinder-places.elfinder-droppable-active {
	border:1px solid #8cafed;
}






