.slider {
  width: auto;
}

.slider > .dragger {
  background: #3498db;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: none;
  width: 10px;
  height: 10px;
  transition: all .2s ease-in-out;
}

.slider > .dragger:active {
    -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Safari */
    transform: scale(2,2);
}

.slider > .track, .slider > .highlight-track {
  background: #777;
  /*background: -webkit-linear-gradient(top, #bbb, #ddd);*/
  /*background: -moz-linear-gradient(top, #bbb, #ddd);*/
  /*background: linear-gradient(top, #bbb, #ddd);*/

  /*-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);*/
  /*-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);*/
  /*box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);*/

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: none;
    /*1px solid #aaa;*/
  height: 4px;
}

.slider > .highlight-track {
	background-color: #8DCA09;
	background: -webkit-linear-gradient(top, #8DCA09, #72A307);
	background: -moz-linear-gradient(top, #8DCA09, #72A307);
	background: linear-gradient(top, #8DCA09, #72A307);
	
	border-color: #496805;
}

