/* ---- Gebo Admin tamarillo theme ---- */

.navbar-inner {
    background: #af2c36;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #94252e !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
span.dynatree-active a {
    background: #94252e !important;
}

.table thead th {background-color:#f6eeef !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#ead8da !important}