<!DOCTYPE html>
<html lang="en" class="no-js" temp-debug="true">
	<head>
		<!-- <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script> -->

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Page Attributes -->
		<title>{{= it.local_title }} &middot; {{= it.title }}</title>
		<meta name="description" content="">

		<!-- Favions / Touch Icons -->
<!--
		<link rel="apple-touch-icon" sizes="57x57"   href="{{= it.asset_root }}apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{= it.asset_root }}apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72"   href="{{= it.asset_root }}apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{= it.asset_root }}apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60"   href="{{= it.asset_root }}apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{= it.asset_root }}apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76"   href="{{= it.asset_root }}apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{= it.asset_root }}apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="{{= it.asset_root }}favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="{{= it.asset_root }}favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="{{= it.asset_root }}favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="{{= it.asset_root }}favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="{{= it.asset_root }}favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#D0021B">
		<meta name="msapplication-TileImage" content="{{= it.asset_root }}mstile-144x144.png">
-->

		<!-- Modernizer -->
		<script src="{{= it.asset_root }}js/modernizr.js"></script>

		<!-- Google Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen:400,300|Inconsolata:400,700">

		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!--><link rel="stylesheet" href="{{= it.asset_root }}css/site.css"><!--<![endif]-->

		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="{{= it.asset_root }}js/site-ie8.js"></script>
			<link rel="stylesheet" href="{{= it.asset_root }}css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="{{= it.asset_root }}js/site-ie9.js"></script>
			<link rel="stylesheet" href="{{= it.asset_root }}css/site-ie9.css">
		<![endif]-->

		<!-- Compiled JS -->
		<script src="{{= it.asset_root }}js/site.js"></script>

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-46701565-1', 'formstone.it');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>
	<body class="fs-grid fs-grid-sm-fluid">

		<!-- BuySellAds -->
		<script type="text/javascript">
		(function(){
			var bsa = document.createElement('script');
			bsa.type = 'text/javascript';
			bsa.async = true;
			bsa.src = '//s3.buysellads.com/ac/bsa.js';
			(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
		})();
		</script>
		<!-- End BuySellAds -->

		<header class="header">
			<a href="{{= it.site_root }}" class="logo header_logo">Formstone</a>
			<button class="header_button js-nav_handle">Menu</button>
		</header>
		<div class="wrapper">