<style>
	.carousel { border-radius: 3px; margin: 20px 0; width: 100%; }

	.carousel_item { background: #34495E; border-radius: 3px; color: #fff; font-size: 75px; height: 200px; line-height: 200px; margin: 0 0 10px 0; overflow: hidden; text-align: center; width: 100%; }
	.carousel_item:nth-child(even) { background: #D35400; }
	.carousel_item img { width: 100%; }

	.fs-carousel-enabled.fs-carousel-ltr .carousel_item.fs-carousel-item { margin: 0 10px 0 0; }
	.fs-carousel-enabled.fs-carousel-rtl .carousel_item.fs-carousel-item { margin: 0 0 0 10px; }
</style>

<script>
	$(function() {
		$(".carousel").carousel();
	});
</script>

<h4>Basic</h4>
<div class="carousel">
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
	<div class="carousel_item">3</div>
	<div class="carousel_item">4</div>
	<div class="carousel_item">5</div>
</div>

<h4>Paged</h4>
<div class="carousel" data-carousel-options='{"paged":true,"show":2}'>
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
	<div class="carousel_item">3</div>
	<div class="carousel_item">4</div>
	<div class="carousel_item">5</div>
</div>

<h4>Uneven</h4>
<div class="carousel" data-carousel-options='{"show":3}'>
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
	<div class="carousel_item">3</div>
	<div class="carousel_item">4</div>
	<div class="carousel_item">5</div>
</div>

<h4>Infinite</h4>
<div class="carousel" data-carousel-options='{"infinite":true}'>
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
	<div class="carousel_item">3</div>
	<div class="carousel_item">4</div>
	<div class="carousel_item">5</div>
</div>

<h4>No Controls</h4>
<div class="carousel" data-carousel-options='{"controls":false,"pagination":false}'>
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
	<div class="carousel_item">3</div>
	<div class="carousel_item">4</div>
	<div class="carousel_item">5</div>
</div>

<h4>Breakpoint</h4>
<div class="carousel" data-carousel-options='{"minWidth":"740px"}'>
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
</div>

<h4>Responsive Counts</h4>
<div class="carousel" data-carousel-options='{"show":{"740px":2,"960px":3}}'>
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
	<div class="carousel_item">3</div>
	<div class="carousel_item">4</div>
	<div class="carousel_item">5</div>
</div>

<h4>Links</h4>
<div class="carousel" data-carousel-options='{"show":{"500px":2,"960px":3}}'>
	<a href="#" class="carousel_item"><img src="//spacehold.it/450x400/1" draggable="false"></a>
	<a href="#" class="carousel_item"><img src="//spacehold.it/450x400/2" draggable="false"></a>
	<a href="#" class="carousel_item"><img src="//spacehold.it/450x400/3" draggable="false"></a>
	<a href="#" class="carousel_item"><img src="//spacehold.it/450x400/4" draggable="false"></a>
	<a href="#" class="carousel_item"><img src="//spacehold.it/450x400/5" draggable="false"></a>
</div>

<h4>Right to Left</h4>
<div class="carousel" data-carousel-options='{"rtl":true,"show":{"500px":2,"960px":3}}'>
	<div class="carousel_item">1</div>
	<div class="carousel_item">2</div>
	<div class="carousel_item">3</div>
	<div class="carousel_item">4</div>
	<div class="carousel_item">5</div>
</div>